
body {
    font-family: sans-serif;
}

#groceryTable {
    border: 2px solid black;
    border-collapse: collapse;
}

#groceryTable td,th {
    border: 1px solid #888;
    padding: 10px;
}

#groceryTable th {
    text-align: left;
}

.productPrice {
    text-align: right;
}